#highscores {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
}

#time {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

#main {
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
}

#results {
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
}